---
import Header from '../components/Header.astro';
import '../styles/global.css';
import { ViewTransitions, slide } from 'astro:transitions';
import type { CollectionEntry } from 'astro:content';

type Props = {
  entry: CollectionEntry<'blog'>;
};
const { entry } = Astro.props;

const headSentence = entry.body.substring(0, 50);
const preview = headSentence.replace(/.$/, '...');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={preview} />
    <meta property="og:site_name" content="Blog No Name" />
    <meta property="og:title" content={entry.data.title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={`https://blog-no-name.com/posts/${entry.slug}`} />
    <meta property="og:image" content="https://blog-no-name.com/img/blog-no-name.png" />
    <meta property="og:description" content={preview} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@t0yohei" />
    <title>{entry.data.title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main transition:animate={slide({ duration: '0.5s' })}>
      <h1>{entry.data.title}</h1>
      <p>Post Date: {entry.data.pubDate}</p>
      <slot />
      <footer><a href="/">ブログ一覧に戻る</a></footer>
    </main>
    <style>
      h1 {
        font-size: 32px;
      }

      footer {
        margin-top: 50px;
      }
    </style>
  </body>
</html>
