---
import Header from '../components/Header.astro';
import '../styles/global.css';

const { frontmatter, rawContent } = Astro.props;

const arrangePreview = (rawContent: string): string => {
  const headSentence = rawContent.substring(0, 50);
  return headSentence.replace(/.$/, '...');
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content="Blog No Name" />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={`https://blog-no-name.netlify.app${frontmatter.url}`} />
    <meta property="og:image" content="https://blog-no-name.netlify.app/img/blog-no-name.png" />
    <meta property="og:description" content={arrangePreview(rawContent())} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@t0yohei" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>{frontmatter.title}</h1>
      <p>Post Date: {frontmatter.pubDate}</p>
      <slot />
      <footer><a href="/">ブログ一覧に戻る</a></footer>
    </main>
  </body>
</html>

<style>
  h1 {
    font-size: 32px;
  }

  footer {
    margin-top: 50px;
  }
</style>
